<div class="allcontain">
    <div id="carousel-up" class="carousel slide" data-ride="carousel">
        <!--<div class="carousel-inner " role="listbox">
            <div class="item active">
                <img src="images/football.jpeg" class="full-screen" alt="football">
                <div class="carousel-caption">
                    <h2>Susirask bendraminčių, sportuokite kartu</h2>
                </div>
            </div>
            <div class="item">
                <img src="images/rsz_cycling.jpg" class="full-screen" alt="bowling">
                <div class="carousel-caption">
                    <h2>Susirask bendraminčių, sportuokite kartu</h2>
                </div>
            </div>
            <div class="item">
                <img src="images/rsz_paragliding.jpg" class="full-screen" alt="paragliding">
                <div class="carousel-caption">
                    <h2>Susirask bendraminčių, sportuokite kartu</h2>
                </div>
            </div>
        </div>-->
        <div class="video">
            <video autoplay muted loop>
                <source src="images/video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
<div class="all-contain">
    <div class = "renderForm">
        {{ render(controller('AppBundle:SportEvent:searchEvents')) }}
        <div class="intro-buttons">
            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-defaultd" href="{{ path('create_event') }}">{{ 'user.createGroup'|trans }}</a>
            {% else %}
                <a class="btn btn-default" href="#" data-toggle="modal" data-target="#loginModal">{{ 'user.createGroup'|trans }}</a>
            {% endif %}
            <a class="btn btn-default" href="#intro-newest">{{ 'user.findPassion'|trans }}</a>
        </div>
    </div>
</div>
<div class="all-contain">
    <div class = "renderForm">
        {{ render(controller('AppBundle:SportEvent:searchEvents')) }}
    </div>
</div>