<div class="allcontain">
    <div id="carousel-up" class="carousel slide">
        <div class="video">
            <video autoplay muted loop>
                <source src="images/main-video.mp4" type="video/mp4">
                <img src="/images/rsz_horse-riding.jpg" title="Your browser does not support the <video> tag">
            </video>
            <img class="video-fallback" src="/images/rsz_horse-riding.jpg" alt="horse-riding">
        </div>
        <div class="intro-buttons">
            <h2 class="intro-header">Susirask bendraminčių, sportuokite kartu</h2>
            {% if is_granted('ROLE_USER') %}
                {% if is_granted('ROLE_COACH') %}
                    <a class="" href="{{ path('create_event') }}">{{ 'user.createGroup'|trans }}</a>
                {% else %}

                {% endif %}
            {% else %}
                <a class="" href="#" data-toggle="modal" data-target="#loginModal">{{ 'user.createGroup'|trans }}</a>
            {% endif %}
            <a class="btn-findPassion">{{ 'user.findPassion'|trans }}</a>
        </div>
    </div>
</div>
<div class="all-contain">
    <div class="renderForm">
        {{ render(controller('AppBundle:SportEvent:searchEvents')) }}
    </div>
</div>
