<div class="allcontain">
    <div id="carousel-up" class="carousel slide" data-ride="carousel">
        <div class="video">
            <video autoplay muted loop>
                <source src="images/video-resized.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="intro-buttons">
            <h2 class="intro-header">Susirask bendraminčių, sportuokite kartu</h2>
            {% if is_granted('ROLE_USER') %}
                <a class="" href="{{ path('create_event') }}">{{ 'user.createGroup'|trans }}</a>
            {% else %}
                <a class="" href="#" data-toggle="modal" data-target="#loginModal">{{ 'user.createGroup'|trans }}</a>
            {% endif %}
            <a class="btn-findPassion">{{ 'user.findPassion'|trans }}</a>
        </div>
    </div>
</div>
<div class="all-contain">
    <div class = "renderForm">
        {{ render(controller('AppBundle:SportEvent:searchEvents')) }}
    </div>
</div>