<div class="allcontain">
    <div class="header">
        <div class="container">
            <div class="row">
                    <ul class="socialicon col-xs-4">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                <ul class="givusacall col-xs-4">
                    <li>{{ 'user.callus'|trans }} : +66666666 </li>
                </ul>
                <ul class="logreg col-xs-4">
                    {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'user.logout'|trans }}</a> </li>
                    {% else %}
                        <li><a href="#" data-toggle="modal" data-target="#registerModal">{{ 'user.register'|trans }} </a> </li>
                        <li><a href="#" data-toggle="modal" data-target="#loginModal">{{ 'user.login'|trans }} </a> </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Navbar Up -->
    {% if is_granted('ROLE_USER') %}
    <nav class="topnavbar navbar-default topnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
                    <span class="sr-only"> Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="container">
            <div class="collapse navbar-collapse" id="upmenu">
                <div class="row">
                    <div class="col-sm-3"><h2 class="header-logo">Sport2gether</h2></div>
                    <div class="col-sm-3 col-sm-offset-6">
                        <ul class="nav navbar-nav" id="navbarontop">
                            {% if is_granted('ROLE_USER') %}
                            <li>
                                <a class="myEventLink" href="{{ path('myEvents') }}">{{ 'user.events'|trans }}</a>
                            </li>
                            {#<button><span class="postnewcar">{{ 'user.createEvent'|trans }}</span></button>#}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% endif %}
</div>

{% include("inc/Forms/login.html.twig") %}
{% include("inc/Forms/register.html.twig") %}
