{% extends "::basic_layout.html.twig" %}

{% block header %}
    {% include(":inc:user_header.html.twig") %}
{% endblock %}

{% block content %}

    <h1 class="text-center">
        {{ 'user.myEvent'|trans }}
    </h1>

    <div class="col-md-4 col-md-offset-4 event-form"">
        {{ form_start(createEventForm) }}
        {{ form_widget(createEventForm) }}
        <button type="submit" class="btn yellow-btn">{{ 'user.saugoti'|trans }}</button>
        {{ form_end(createEventForm) }}
    </div>
{% endblock %}
