{% extends "::basic_layout.html.twig" %}

{% block title %}
    {{ event.title }}|sport2gether
{% endblock %}

{% block header %}
    {% include("::inc/user_header.html.twig") %}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">

            <div class=" col-md-12">



                    <div class="caption-full">
                        <h1 class="text-center">{{ event.title }}</h1>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <img class="img-responsive" src="{{ event.image ? '/uploads/images/' ~ event.image : '/images/default_list.png' }}" alt="">
                        </div>


                        <div class="col-xs-12 col-sm-6 col-md-8">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            </div>
                            <div class="col-xs-11">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <strong>{{ event.date|date("l, F d") }}</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        {{ event.date|date("H:s") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </div>
                            <div class="col-xs-11">
                                <div class="row">
                                    <div class="col-xs-12">
                                        {{ event.address }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </div>
                            <div class="col-xs-11">
                                <div class="row">
                                    <div class="col-xs-12">
                                        {{ 'user.attendee' |trans  }}: {{ event.attendees | length }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-15">
                            <div class="col-xs-12">
                                <p>{{ event.description }}</p>
                            </div>
                        </div>

                            <div class="col-xs-12 col-sm-12 col-md-8">
                                <div class="well well-sm">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                                        </div>
                                        <div class="col-sm-6 col-md-8 padding15">
                                            <h4>
                                                Bhaumik Patel</h4>
                                            <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                                                    </i></cite></small>
                                            <p>
                                                <i class="glyphicon glyphicon-envelope"></i>email@example.com
                                                <br />
                                                <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                                                <br />
                                                <i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
                                            <!-- Split button -->
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary">
                                                    Social</button>
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span><span class="sr-only">Social</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Twitter</a></li>
                                                    <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                                    <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Github</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                    </div>



                </div>


                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="text-center margin-15">
                            {% if event.hasAttendee(app.user) %}
                            <a id ="leaveEvent" class="btn btn-default js-join-event" data-id="{{ event.id }}" data-url="{{ path('unattendEvent',{'id':event.getId}) }}">Dalyvauju!</a>
                            {% else %}
                            <a id ="joinEvent" class="btn btn-default js-join-event" data-id="{{ event.id }}" data-url="{{ path('attendEvent',{'id':event.getId}) }}">Dalyvauti</a>
                            {% endif %}
                        </div>
                    {% endif %}


                <div class="well">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="comment-form">
                            <form id="myform" method="post">
                                <div class="form-group">
                                    <label for="comment">Comment:</label>
                                    <input type="hidden" name="eventId" id="eventId" class="eventId" value="{{ event.getId }}" />
                                    <div class="js-toomany hidden alert alert-danger">{{ 'user.toomany'|trans }}</div>
                                    <textarea class="form-control js-comment" rows="2" id="comment" name="comment" required maxlength="255"></textarea>
                                </div>
                                <div class="js-verify hidden alert alert-danger">{{ 'user.verify'|trans }}</div>
                                <div class="g-recaptcha" data-sitekey="6LdX3yEUAAAAAHgCGyEu08ZBiTePPLaBKJWz4ngq"></div>
                                <input type="submit" id="commentSubmit" class="js-commentSubmit btn btn-default"  name="commentSubmit" value="Komentuoti">
                            </form>
                        </div>
                    {% endif %}
                    <hr>
                    {%  for comment in event.comments|sort|reverse %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ comment.author.username }}
                            <span class="pull-right">{{ comment.getCreatedAtDate|date("Y-m-d H:i:s") }}</span>
                            <p class="break-word">{{ comment.content }}</p>
                        </div>
                    </div>
                    <hr>
                    {%  endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

