{% extends "::basic_layout.html.twig" %}

{% block content %}
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Categories</p>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="/images/cycling.jpg" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">{{ event.date|date("Y-m-d H:s") }}{{ event.address }}, {{ event.city }}</h4>
                        <h4><a href="#">{{ event.title }}</a>
                        </h4>
                        <p>{{ event.description }}</p>
                    </div>
                    <div class="ratings">
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                    </div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="text-right">
                            {% if event.hasAttendee(app.user) %}
                            <a id ="leaveEvent" class="btn btn-success js-join-event" data-id="{{ event.id }}">Whoa, you are here!</a>
                            {% else %}
                            <a id ="joinEvent" class="btn btn-success js-join-event" data-id="{{ event.id }}">Join Event</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

                <div class="well">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="comment-form">
                            <form id="myform" method="post">
                                <div class="form-group">
                                    <label for="comment">Comment:</label>
                                    <input type="hidden" name="eventId" id="eventId" class="eventId" value="{{ event.getId }}" />
                                    <textarea class="form-control js-comment" rows="2" id="comment" name="comment" ></textarea>
                                </div>
                                <input type="submit" id="commentSubmit" class="js-commentSubmit btn btn-success" name="commentSubmit" value="Comment">
                            </form>
                        </div>
                    {% endif %}
                    <hr>
                    {%  for comment in event.comments %}
                    <div class="row">
                        <div class="col-md-12">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            Anonymous
                            <span class="pull-right">{{ comment.getCreatedAtDate|date("Y-m-s H:s") }}</span>
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>

                    <hr>
                    {%  endfor %}


                </div>

            </div>

        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#commentSubmit').on('click',function(e){
            var comment = $('#comment').val();
            var id = $('#eventId').val();
            e.preventDefault();
            $.post({
                url:"/addComment/"+id,
                data: comment,
                error:function(err){
                    console.error(err);
                },
                success:function(data){
                    console.log(comment);
                },
                complete:function(){
                    $("#myform")[0].reset();
                }
            });
        })

        $('#joinEvent').on('click',function(e){
            var id = $('#joinEvent').data('id');
            e.preventDefault();
            $.post({
                url:"/attend/"+id,
                error:function(err){
                    console.error(err);
                },
                success:function(data){
                    console.log(data);
                },
                complete:function(){

                }
            });
        })

        $('#leaveEvent').on('click',function(e){
            var id = $('#leaveEvent').data('id');
            e.preventDefault();
            $.post({
                url:"/unattend/"+id,
                error:function(err){
                    console.error(err);
                },
                success:function(data){
                    console.log(data);
                },
                complete:function(){

                }
            });
        })

    </script>
{% endblock %}
