{{ form_start(eventSearchForm, {'action': path('searchEvents'), 'method': 'POST','attr':{'class':'navbar-form'} }) }}
        <div>
                <div class="form-group">
                    {{ form_widget(eventSearchForm.title, {'attr':{'class':'form-control', 'placeholder':'user.searchEvent'|trans}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(eventSearchForm.city, {'attr':{'class':'form-control', 'placeholder':'user.chooseCity'|trans}}) }}
                </div>
                <button type="submit"><span class="glyphicon glyphicon-search "></span></button>
        </div>
{{ form_widget(eventSearchForm) }}
{{ form_end(eventSearchForm) }}


