{% extends "::basic_layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if events is empty %}
                <div class="jumbotron">
                    <h1>Oops!</h1>
                    <p>These are no events you're looking for...</p>
                    <p><a class="btn btn-primary btn-lg" href="{{ path('homepage') }}" role="button">Go back to main page</a></p>
                </div>
            {% else %}
                {% for event in events %}
                    <div class="col s12 m3">
                        <div class="card">
                            <div class="card-image">
                                <img src="/images/cycling.jpg">
                                <span class="card-title">{{ event.title }} <br> {{ event.getCategory }}</span>
                            </div>
                            <div class="card-content">
                                <span>{{ event.getDate|date('Y-m-d H:i:s') }}</span>
                                <span>{{ event.getCity }}</span>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.commentSubmit').on('click',function(e){
            var comment = $('.comment').val();
            var id = $('.eventId').val();
            e.preventDefault();
            $.post({
                url:"/addComment/"+id,
                data: comment,
                error:function(err){
                    console.error(err);
                },
                success:function(data){
                    console.log(comment);
                },
                complete:function(){
                    $("#myform")[0].reset();
                }
            });
        })

    </script>
{% endblock %}
